@media screen and (max-width: 767.98px) {
	.menu {
		display: none;
	}

	.burger {
		display: block;
	}

	.menu__list {
		flex-direction: column;
		font-size: 20px;
	}

		.menu__link:last-child {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			gap: 12px;
		}

				.menu__link:last-child::before {
					font-size: 12px;
					margin-top: 4px;
				}

	.preview__body {
		display: flex;
		flex-wrap: wrap;
	}

	.preview__content {
		text-align: center;
		width: 100%;
	}

	.preview__main-title {
		font-size: 42px;
		width: 100%;
	}

	.preview__text {
		width: 100%;
	}

	.preview__buttons {
		flex-wrap: wrap;
	}

		.preview__buttons span {
			font-size: 18px;
		}

	.button {
		width: 100%;
	}

	.preview__media {
		width: 100%;
	}

	.preview__image {
		position: static;
		top: 0;
		left: 0;
		transform: translate(0px, 0px);
	}

	.partners {
		margin-inline: 25px;
	}

	.partners__logos {
		flex-wrap: wrap;
		justify-content: center;
	}

	.partners__logo {
		width: 45%;
	}
}

@media screen and (max-width: 425px) {
	.partners__logo {
		width: 80%;
	}
}