@media screen and (max-width: 61.93625rem) {
	
	.career__item {
			padding-right: 0;
		}

		.testimonials__slide {
			flex-direction: column;
		}

		.testimonials__pic {
			margin-right: 0;
		}

		.testimonials__pic img {
			width: 100%;
		}

		.testimonials__content {
			width: 100%;
		}

		.testimonials__arrows {
			bottom: 0;
		}

}

@media screen and (max-width: 47.99875rem) {
	.menu {
		display: none;
	}

	.burger {
		display: block;
	}

	.menu__list {
		flex-direction: column;
		font-size: 1.25rem;
	}

		.menu__link:last-child {
			display: flex;
			flex-direction: row-reverse;
			align-items: center;
			gap: 0.75rem;
		}

				.menu__link:last-child::before {
					font-size: 0.75rem;
					margin-top: 0.25rem;
				}

	.preview__body {
		display: flex;
		flex-wrap: wrap;
	}

	.preview__content {
		text-align: center;
		width: 100%;
	}

	.preview__main-title {
		font-size: 2.63rem;
		width: 100%;
	}

	.preview__text {
		width: 100%;
	}

	.preview__buttons {
		flex-wrap: wrap;
	}

		.preview__buttons span {
			font-size: 1.13rem;
		}

	.button {
		width: 100%;
	}

	.preview__media {
		width: 100%;
	}

	.preview__image {
		position: static;
		top: 0;
		left: 0;
		transform: translate(0.00rem, 0.00rem);
	}

	.partners {
		margin-inline: 1.56rem;
	}

	.partners__logos {
		flex-wrap: wrap;
		justify-content: center;
	}

	.partners__logo {
		width: 45%;
	}

	.services__cards {
		grid-template-columns: 1fr;
	}

	.card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.card__icon img {
		width: 50%;
	}

	.projects__header {
		flex-direction: column;
		gap: 1.56rem;
	}

	.projects__button span {
		font-size: 1.13rem;
	}

	.slider__arrows {
		left: 90%;
	}

	.blogs__body {
		display: flex;
		flex-direction: column;
	}

	.articles__title {
		width: 100%;
	}

	.designer {
		padding-block: 1.56rem;
	}

	.designer__header {
		flex-direction: column;
		justify-content: start;
		align-items: center;
	}

	.designer__titles {
		text-align: center;
	}

	.designer__text {
		width: 100%;
		margin: 0 auto;
	}

	.designer__media {
		flex-direction: column;
	}

	.designer img {
		max-height: 19.06rem;
	}

		.designer__photo {
			width: 100%;
		}

		.designer__col {
			width: 100%;
		}

	.career__body {
		flex-wrap: wrap;
	}

	.career__col {
		width: 100%;
	}

}

@media screen and (max-width: 26.56rem) {
	.partners__logo {
		width: 60%;
	}

		.title {
			font-size: 1.75rem;
		}

		.slider__arrows {
			left: 85%;
		}

	.career__item {
		flex-direction: column;
		align-items: start;
	}
}

@media screen and (max-width: 26.25rem) {
	.slide__name {
		font-size: 1.25rem;
	}

		.designer__photo {
			width: 100%;
		}
}