@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

:root {
	--vw: 0.0694444444;
	--font-color: #000000;
	--second-font-color: #666666;
	--orange-color: #FF8A56;
	--violet-color: #B16CEA;
	--blue-color: #3C46FF;
}

/*Reset*/
* {
	padding: 0.00rem;
	margin: 0.00rem;
	border: 0.00rem;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 20.00rem;
}

body {
overflow-x: hidden;
	color: var(--font-color);
	line-height: 1.75;
	font-family: "Roboto";
	font-weight: 400;
	font-size: clamp(14px, 16vw * var(--vw), 22px);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/*Common*/
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.wrapper>main {
	flex: 1 1 auto;
}

.wrapper>* {
	min-width: 0;
}

[class*=__container] {
	max-width: 84.375vw;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 0.9375rem;
}

.intro-text {
	font-size: 22px;
	color: var(--second-font-color);
}

.button {
	padding: 20px 30px;
	background-color: var(--font-color);
	font-size: calc(18vw * var(--vw));
	line-height: 1;
	color: #fff;
}

.subtitle {
	font-weight: 700;
	font-size: clamp(18px, 22vw * var(--vw), 28px);
	letter-spacing: 4px;
	color: var(--orange-color);
	text-transform: uppercase;
	line-height: 1;
}

.title {
	font-weight: 700;
	font-size: clamp(36px, 54vw * var(--vw), 60px);
	line-height: 1.0925;
	letter-spacing: 1px;
}

/*Header*/

.header {
	margin-bottom: 25px;
}

.header__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: clamp(13px, 40vw * var(--vw), 55px) 13px;
}

.header__logo svg {
	width: clamp(163px, 203vw * var(--vw), 293px);
	height: clamp(28px, 28vw * var(--vw), 42px);
}

.menu__list {
	display: flex;
	align-items: center;
	gap: clamp(20px, 40vw * var(--vw), 60px);
}

.menu__link:last-child {
	display: flex;
	align-items: center;
	gap: 12px;
	flex-direction: row-reverse;
}

.menu__link:last-child span {
	font-family: Roboto;
}

.menu__link:last-child::before {
	display: block;
	font-size: 12px;
}

.burger {
	display: none;
}

.burger__button {
	width: 1.88rem;
	height: 1.88rem;
	position: relative;
	z-index: 200;
	overflow: hidden;
}

.burger__button span {
	width: 1.88rem;
	height: 0.13rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--font-color);
	transition: all 0.5s;
}

.burger__button span:nth-of-type(2) {
	top: calc(50% - 0.31rem);
}

.burger__button span:nth-of-type(3) {
	top: calc(50% + 0.31rem);
}

.burger__body {
	position: fixed;
		overflow: auto;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0.94rem;
		padding-top: 9.38rem;
		background: var(--orange-color);
		transform: translateX(100%);
		transition: transform 0.5s;
		z-index: 100;
}

.body.active {
	overflow: hidden;
}

.burger__body.active {
	transform: translateX(0);
}

.burger__button.active span:nth-of-type(1) {
	display: none;
}

.burger__button.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);
}

.burger__button.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg);
}

/*Preview*/

.preview {
	margin-bottom: 20px;
}

.preview__body {
	display: grid;
	grid-template-columns: 1fr calc(500vw * var(--vw));
}

.preview__content {
	padding-block: clamp(20px, 92vw * var(--vw), 102px) clamp(20px, 100vw * var(--vw), 110px);
}

.preview__main-title {
	width: calc(594vw * var(--vw));
	font-weight: 700;
	font-size: calc(72vw * var(--vw));
	line-height: 1.388;
	letter-spacing: 2px;
	margin-bottom: 34px;
}

.preview__main-title span {
	color: var(--orange-color);
}

.preview__text {
	width: calc(547vw * var(--vw));
	margin-bottom: 38px;
}

.preview__buttons {
	display: flex;
	gap: 10px;
}

.button_download {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	gap: 16px;
	background-color: #fff;
	color: var(--font-color);
}

.button_download span {
	font-family: Roboto;
}

.button_download::before {
	display: block;
	font-size: 12px;
}

.preview__media {
	position: relative;
}

.preview__image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

/*Partners*/

.partners {
	margin-inline: calc(289vw * var(--vw));
	margin-bottom: clamp(20px, 80vw * var(--vw), 100px);
	padding-block: clamp(20px, 77vw * var(--vw), 107px);
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.partners__text {
	font-size: clamp(14px, 18vw * var(--vw), 22px);
	line-height: 1;
	margin-bottom: 45px;
}

.partners__logos {
	display: flex;
	gap: clamp(20px, 100vw * var(--vw), 125px);
}

.partners__logo {
	width: clamp(80px, 141vw * var(--vw), 181px);
}

/*Services*/

.services__body {
	margin: 0 auto;
	width: calc(1098vw * var(--vw));
	padding-block: clamp(20px, 80vw * var(--vw), 100px);
}

.services__header {
	margin: 0 auto;
	width: calc(810vw * var(--vw));
	text-align: center;
	margin-bottom: clamp(20px, 114.73vw * var(--vw), 135px);
}

.services__subtitle {
	margin-bottom: clamp(8px, 16vw * var(--vw), 20px);
}

.services__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: clamp(5px, 90vw * var(--vw), 110px);
}

.card__icon {
	margin-bottom: max(calc(39vw * var(--vw)), 15px)
}

.card__icon img {
	width: 22.87581699%;
}

.card__question {
	font-weight: 700;
	font-size: clamp(20px, 24vw * var(--vw), 28px);
	line-height: 1.0833;
	margin-bottom: 25px;
}

.card__text {
	color: var(--second-font-color);
	margin-bottom: 23.73px;
}

.card__list {
	font-weight: 700;
	font-size: clamp(14px, 16vw * var(--vw), 22px);
}

.card__item {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.card__item:not(:last-child) {
	margin-bottom: 10px;
}

.card__item::before {
	content: '';
	width: clamp(4px, 7vw * var(--vw), 10px);
	height: clamp(4px, 7vw * var(--vw), 10px);
	display: block;
	background-color: var(--font-color);
}

/*Projects*/

.projects {
	background: linear-gradient(to bottom, white 72%, black 28%);
}

.projects__body {
	padding-block: 80px 84px;
}

.projects__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 65px;
}

.projects__subtittle {
	color: var(--violet-color);
	margin-bottom: 21.73px;
}

.slide__pic {
	margin-bottom: 33px;
}

.slide__pic img {
	height: clamp(285px, 305vw * var(--vw), 355px);
}

.slide__content {
	display: flex;
	flex-direction: column;
	padding: 0 0 32px 32.5px;
}

.slide__category {
	font-weight: 700;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: var(--blue-color);
	margin-bottom: 17px;
}

.slide__name {
	font-weight: 700;
	font-size: 24px;
	line-height: 1.0833;
	margin-bottom: 19px;
}

.slide__full {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	column-gap: 10px;
	font-size: 18px;
	line-height: 1;
	align-self: start;
}

.slide__full span {
	font-family: Roboto, sans-serif;
}

.slide__full::before {
	font-size: 15px;
}

.slider__arrow-prev, .slider__arrow-next {
	font-size: 15px;
}

.slider__arrow-prev, .slider__arrow-next {
	width: 54px;
	height: 54px;
	background-color: #fff;
}

.slider__arrow-prev::before {
	transform: rotate(-180deg);
}

.slider__arrow-prev::before, .slider__arrow-next::before {
	color: var(--font-color);
}

.slider__arrows {
	position: absolute;
	bottom: -10%;
	left: 100%;
}


/*Blogs*/

.blogs {
	padding-block: 33px;
	margin-bottom: min(80px, 33px);
	background-color: var(--font-color);
}

.blogs__body {
	display: grid;
	grid-template-columns: 1fr clamp(393px, 693vw * var(--vw), 733px);
}

.blogs__subtitle {
	margin-bottom: 20px;
}

.blogs__title {
	color: #fff;
	margin-bottom: 35px;
}

.blogs__all {
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: end;
	gap: 19px;
	color: #fff;
}

.blogs__all span {
	font-family: Roboto;
}

.blogs__all::before {
	font-size: 13px;
}

.articles {
	padding-block: 41px min(80px, 41px);
	color: #fff;
}

.articles__item {
	margin-bottom: 65px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.articles__date {
	display: block;
	margin-bottom: 26px;
	font-weight: 700;
	font-size: 15px;
	line-height: 1.0667;
	color: rgba(255, 255, 255, 0.7);
}

.articles__date span {
	font-size: 14px;
	line-height: 1.1428;
}

.articles__title {
	width: clamp(300px, 574vw * var(--vw), 575px);
	margin-bottom: 42px;
	font-weight: 700;
	font-size: 28px;
	line-height: 1.2857;
}

.articles__details {
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: end;
	gap: 19px;
	margin-bottom: 36px;
}

.articles__details span {
	font-family: Roboto;
}

.articles__details::before {
	font-size: 13px;
}

/*Designer*/

.designer {
	padding-block: 76px 80px;
}

.designer__header {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: calc(115vw * var(--vw));
}

.designer__subtitle {margin-bottom: 15px;}

.designer__text {
	width: clamp(320px, 625vw * var(--vw), 685px);
	margin-top: 9px;
}

.designer__media {
	display: flex;
	gap:calc(16vw * var(--vw));
}

.designer__col > .designer__photo:not(:last-child) {
	margin-bottom: calc(16vw * var(--vw));
}

.designer__photo {}