@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

:root {
	--vw: 0.0694444444;
	--font-color: #000000;
	--second-font-color: #666666;
	--orange-color: #FF8A56;
	--violet-color: #B16CEA;
	--blue-color: #3C46FF;
}

/*Reset*/
* {
	padding: 0.00rem;
	margin: 0.00rem;
	border: 0.00rem;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 20.00rem;
}

body {
	color: var(--font-color);
	line-height: 1.5;
	font-family: "Roboto";
	font-weight: 400;
	font-size: 1rem;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/*Common*/
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.wrapper>main {
	flex: 1 1 auto;
}

.wrapper>* {
	min-width: 0;
}

[class*=__container] {
	max-width: 88.888888vw;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 0.9375rem;
}