@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

:root {
	--vw: 0.0694444444;
	--font-color: #000000;
	--second-font-color: #666666;
	--orange-color: #FF8A56;
	--violet-color: #B16CEA;
	--blue-color: #3C46FF;
}

/*Reset*/
* {
	padding: 0.00rem;
	margin: 0.00rem;
	border: 0.00rem;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 20.00rem;
}

body {
overflow-x: hidden;
	color: var(--font-color);
	line-height: 1.75;
	font-family: "Roboto";
	font-weight: 400;
	font-size: clamp(0.75rem, 16vw * var(--vw), 1.38rem);
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
	width: 100%;
	height: auto;
	-o-object-fit: cover;
	object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

/*Common*/
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.wrapper>main {
	flex: 1 1 auto;
}

.wrapper>* {
	min-width: 0;
}

[class*=__container] {
	max-width: 84.375vw;
	box-sizing: content-box;
	margin: 0 auto;
	padding: 0 0.9375rem;
}

.intro-text {
	font-size: 1.38rem;
	color: var(--second-font-color);
}

.button {
	padding: 1.25rem 1.88rem;
	background-color: var(--font-color);
	font-size: calc(18vw * var(--vw));
	line-height: 1;
	color: #fff;
}

.subtitle {
	font-weight: 700;
	font-size: clamp(1.13rem, 22vw * var(--vw), 1.75rem);
	letter-spacing: 0.25rem;
	color: var(--orange-color);
	text-transform: uppercase;
	line-height: 1;
}

.title {
	font-weight: 700;
	font-size: clamp(2.25rem, 54vw * var(--vw), 3.75rem);
	line-height: 1.0925;
	letter-spacing: 0.06rem;
}

/*Header*/

.header {
	margin-bottom: 1.56rem;
}

.header__body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: clamp(0.81rem, 40vw * var(--vw), 3.44rem) 0.81rem;
}

.header__logo svg {
	width: clamp(10.19rem, 203vw * var(--vw), 18.31rem);
	height: clamp(1.75rem, 28vw * var(--vw), 2.63rem);
}

.menu__list {
	display: flex;
	align-items: center;
	gap: clamp(1.25rem, 40vw * var(--vw), 3.75rem);
}

.menu__link:last-child {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	flex-direction: row-reverse;
}

.menu__link:last-child span {
	font-family: Roboto;
}

.menu__link:last-child::before {
	display: block;
	font-size: 0.75rem;
}

.burger {
	display: none;
}

.burger__button {
	width: 1.88rem;
	height: 1.88rem;
	position: relative;
	z-index: 200;
	overflow: hidden;
}

.burger__button span {
	width: 1.88rem;
	height: 0.13rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--font-color);
	transition: all 0.5s;
}

.burger__button span:nth-of-type(2) {
	top: calc(50% - 0.31rem);
}

.burger__button span:nth-of-type(3) {
	top: calc(50% + 0.31rem);
}

.burger__body {
	position: fixed;
		overflow: auto;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 0.94rem;
		padding-top: 9.38rem;
		background: var(--orange-color);
		transform: translateX(100%);
		transition: transform 0.5s;
		z-index: 100;
}

.body.active {
	overflow: hidden;
}

.burger__body.active {
	transform: translateX(0);
}

.burger__button.active span:nth-of-type(1) {
	display: none;
}

.burger__button.active span:nth-of-type(2) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(45deg);
}

.burger__button.active span:nth-of-type(3) {
	top: 50%;
	transform: translate(-50%, 0%) rotate(-45deg);
}

/*Preview*/

.preview {
	margin-bottom: 1.25rem;
}

.preview__body {
	display: grid;
	grid-template-columns: 1fr calc(500vw * var(--vw));
}

.preview__content {
	padding-block: clamp(1.25rem, 92vw * var(--vw), 6.38rem) clamp(1.25rem, 100vw * var(--vw), 6.88rem);
}

.preview__main-title {
	width: calc(594vw * var(--vw));
	font-weight: 700;
	font-size: calc(72vw * var(--vw));
	line-height: 1.388;
	letter-spacing: 0.13rem;
	margin-bottom: 2.13rem;
}

.preview__main-title span {
	color: var(--orange-color);
}

.preview__text {
	width: calc(547vw * var(--vw));
	margin-bottom: 2.38rem;
}

.preview__buttons {
	display: flex;
	gap: 0.63rem;
}

.button_download {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	gap: 1.00rem;
	background-color: #fff;
	color: var(--font-color);
}

.button_download span {
	font-family: Roboto;
}

.button_download::before {
	display: block;
	font-size: 0.75rem;
}

.preview__media {
	position: relative;
}

.preview__image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-object-fit: cover;
	   object-fit: cover;
}

/*Partners*/

.partners {
	margin-inline: calc(289vw * var(--vw));
	margin-bottom: clamp(1.25rem, 80vw * var(--vw), 6.25rem);
	padding-block: clamp(1.25rem, 77vw * var(--vw), 6.69rem);
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.partners__text {
	font-size: clamp(0.88rem, 18vw * var(--vw), 1.38rem);
	line-height: 1;
	margin-bottom: 2.81rem;
}

.partners__logos {
	display: flex;
	gap: clamp(1.25rem, 100vw * var(--vw), 7.81rem);
}

.partners__logo {
	width: clamp(5.00rem, 141vw * var(--vw), 11.31rem);
}

/*Services*/

.services__body {
	margin: 0 auto;
	width: calc(1098vw * var(--vw));
	padding-block: clamp(1.25rem, 80vw * var(--vw), 6.25rem);
}

.services__header {
	margin: 0 auto;
	width: calc(810vw * var(--vw));
	text-align: center;
	margin-bottom: clamp(1.25rem, 114.73vw * var(--vw), 8.44rem);
}

.services__subtitle {
	margin-bottom: clamp(0.50rem, 16vw * var(--vw), 1.25rem);
}

.services__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: clamp(0.31rem, 90vw * var(--vw), 6.88rem);
}

.card__icon {
	margin-bottom: max(calc(39vw * var(--vw)), 0.94rem)
}

.card__icon img {
	width: 22.87581699%;
}

.card__question {
	font-weight: 700;
	font-size: clamp(1.25rem, 24vw * var(--vw), 1.75rem);
	line-height: 1.0833;
	margin-bottom: 1.56rem;
}

.card__text {
	color: var(--second-font-color);
	margin-bottom: 23.4.56rem;
}

.card__list {
	font-weight: 700;
	font-size: clamp(0.88rem, 16vw * var(--vw), 1.38rem);
}

.card__item {
	display: flex;
	align-items: center;
	-moz-column-gap: 0.63rem;
	     column-gap: 0.63rem;
}

.card__item:not(:last-child) {
	margin-bottom: 0.63rem;
}

.card__item::before {
	content: '';
	width: clamp(0.25rem, 7vw * var(--vw), 0.63rem);
	height: clamp(0.25rem, 7vw * var(--vw), 0.63rem);
	display: block;
	background-color: var(--font-color);
}

/*Projects*/

.projects {
	background: linear-gradient(to bottom, white 72%, black 28%);
}

.projects__body {
	padding-block: 5.00rem 5.25rem;
}

.projects__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 4.06rem;
}

.projects__subtittle {
	color: var(--violet-color);
	margin-bottom: 1.375rem;
}

.slide__pic {
	margin-bottom: 2.06rem;
}

.slide__pic img {
	height: clamp(17.81rem, 305vw * var(--vw), 22.19rem);
}

.slide__content {
	display: flex;
	flex-direction: column;
	padding: 0 0 2.00rem 2.03125rem;
}

.slide__category {
	font-weight: 700;
	font-size: 0.88rem;
	line-height: 1;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
	color: var(--blue-color);
	margin-bottom: 1.06rem;
}

.slide__name {
	font-weight: 700;
	font-size: 1.50rem;
	line-height: 1.0833;
	margin-bottom: 1.19rem;
}

.slide__full {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	-moz-column-gap: 0.63rem;
	     column-gap: 0.63rem;
	font-size: 1.13rem;
	line-height: 1;
	align-self: start;
}

.slide__full span {
	font-family: Roboto, sans-serif;
}

.slide__full::before {
	font-size: 0.94rem;
}

.slider__arrow-prev, .slider__arrow-next {
	font-size: 0.94rem;
}

.slider__arrow-prev, .slider__arrow-next {
	width: 3.38rem;
	height: 3.38rem;
	background-color: #fff;
}

.slider__arrow-prev::before {
	transform: rotate(-180deg);
}

.slider__arrow-prev::before, .slider__arrow-next::before {
	color: var(--font-color);
}

.slider__arrows {
	position: absolute;
	bottom: -10%;
	left: 100%;
}


/*Blogs*/

.blogs {
	padding-block: 2.06rem;
	margin-bottom: min(5.00rem, 2.06rem);
	background-color: var(--font-color);
}

.blogs__body {
	display: grid;
	grid-template-columns: 1fr clamp(24.56rem, 693vw * var(--vw), 45.81rem);
}

.blogs__subtitle {
	margin-bottom: 1.25rem;
}

.blogs__title {
	color: #fff;
	margin-bottom: 2.19rem;
}

.blogs__all {
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: end;
	gap: 1.19rem;
	color: #fff;
}

.blogs__all span {
	font-family: Roboto;
}

.blogs__all::before {
	font-size: 0.81rem;
}

.articles {
	padding-block: 2.56rem min(5.00rem, 2.56rem);
	color: #fff;
}

.articles__item {
	margin-bottom: 4.06rem;
	border-bottom: 0.06rem solid rgba(255, 255, 255, 0.3);
}

.articles__date {
	display: block;
	margin-bottom: 1.63rem;
	font-weight: 700;
	font-size: 0.94rem;
	line-height: 1.0667;
	color: rgba(255, 255, 255, 0.7);
}

.articles__date span {
	font-size: 0.88rem;
	line-height: 1.1428;
}

.articles__title {
	width: clamp(18.75rem, 574vw * var(--vw), 35.94rem);
	margin-bottom: 2.63rem;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 1.2857;
}

.articles__details {
	display: inline-flex;
	flex-direction: row-reverse;
	align-items: end;
	gap: 1.19rem;
	margin-bottom: 2.25rem;
}

.articles__details span {
	font-family: Roboto;
}

.articles__details::before {
	font-size: 0.81rem;
}

/*Designer*/

.designer {
	padding-block: 4.75rem 5.00rem;
}

.designer__header {
	display: flex;
	justify-content: space-between;
	gap: 1.25rem;
	margin-bottom: calc(115vw * var(--vw));
}

.designer__subtitle {margin-bottom: 0.94rem;}

.designer__text {
	width: clamp(20.00rem, 625vw * var(--vw), 42.81rem);
	margin-top: 0.56rem;
}

.designer__media {
	display: flex;
	gap:calc(16vw * var(--vw));
	align-items: center;
	justify-content: center;
}

.designer__col > .designer__photo:not(:last-child) {
	margin-bottom: calc(16vw * var(--vw));
}

/*Career*/

.career {
	padding-block: clamp(1.88rem, 74vw * var(--vw), 5.88rem) clamp(1.88rem, 83vw * var(--vw), 5.88rem);
}

.career__body {
	display: flex;
	gap: max(3.06rem, 0.56rem);
}

.career__col {
	width: 50%;
}

.career__title {
	font-size: clamp(1.75rem, 36vw * var(--vw), 2.25rem);
	line-height: 1;
	margin-bottom: clamp(2.19rem, 86vw * var(--vw), 6.63rem);
}

.career__item {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: end;
	padding-right: clamp(1.25rem, 60vw * var(--vw), 4.06rem);
	border-bottom: 0.06rem solid #E5E5E5;
	margin-bottom: 2.00rem;
}

.career__item::before {
	position: absolute;
	top: 0.38rem;
	right: 0.38rem;
	transform: rotate(-45deg);
}

.career__block {
	display: flex;
}

.career__icon {
	margin-right: 1.25rem;
}

.career__text {
	font-family: Roboto;
}

.career__name {
	font-family: Roboto;
	font-size: clamp(1.13rem, 24vw * var(--vw), 1.75rem);
	font-weight: 700;
	line-height: 1.0833;
	margin-bottom: 0.56rem;
}

.career__details, .career__date {
	font-family: Roboto;
	line-height: 1.3125;
	color: rgba(0, 0, 0, 0.6);
	margin-bottom: 2.44rem;
}

.career__date {
	font-size: clamp(8px, 16vw * var(--vw), 18px);
}

/*Testimonials*/

.testimonials {
	padding-block: clamp(30px, 76vw * var(--vw), 100px) clamp(30px, 160vw * var(--vw), 180px);
}

.testimonials__inner {
	display: flex;
	flex-direction: column;
}

.testimonials__header {
	margin-bottom: clamp(30px, 80vw * var(--vw), 100px);
}

.testimonials__subtitle {
	margin-bottom: 26px;
}

.testimonials__slider {
	position: relative;
}

.testimonials__slide {
	display: flex;
	max-width: 100%;
}

.testimonials__pic {
	margin-right: calc(146vw * var(--vw));
}

.testimonials__pic img {
	width: clamp(320px, 485vw * var(--vw), 585px);
}

.testimonials__content {
	padding-block: 25px 5px;
	width: clamp(320px, 565vw * var(--vw), 665px);
}

.testimonials__item {
	max-width: 44px;
	max-height: 44px;
	margin-bottom: 32px;
}

.testimonials__text {
	font-size: clamp(20px, 36vw * var(--vw), 38px);
	font-weight: 700;
	line-height: 1.3055;
	margin-bottom: calc(112vw * var(--vw));
}

.testimonials__author {
	font-weight: 700;
	font-size: clamp(16px, 20vw * var(--vw), 22px);
	line-height: 1;
	margin-bottom: 8px;
}

.testimonials__info {
	font-size: clamp(14px, 18vw * var(--vw), 20px);
	line-height: 1;
}

.testimonials__arrows {
	position: absolute;
	bottom: 6%;
	right: 0;
}

.testimonials__arrow-prev, .testimonials__arrow-next {
	color: #fff;
	background-color: var(--font-color);
	padding: 20px 22px;
	width: 54px;
	height: 54px;
}

.testimonials__arrow-prev::before,
.testimonials__arrow-next::before {
	display: inline-block;
	font-size: 12px;
}

.testimonials__arrow-prev::before {
	transform: rotate(-180deg);
}

.testimonials__slider .testimonials__slide {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

/*FAQ*/

.faq {
	background-color: var(--font-color);
	color: #fff;
}

.faq__body {
	padding-block: clamp(30px, 78vw * var(--vw), 82px) clamp(30px, 72vw * var(--vw), 76px);
}

.faq__header {
	margin-bottom: clamp(30px, 123vw * var(--vw), 136px);
	text-align: center;
}

.faq__subtitle {
	margin-bottom: 26px;
}

.faq__content {
	display: flex;
	justify-content: space-between;
}

.faq__col {
	width: clamp(320px, 583vw * var(--vw), 603px);
	height: auto;
}

.faq__question {
	font-weight: 700;
	font-size: clamp(13px, 24vw * var(--vw), 26px);
	line-height: 1.2916;
	letter-spacing: 0.3px;
	border-bottom: 1px solid rgba(229, 229, 229, 0.3);
}

.faq__name {
	display: flex;
	align-items: center;
	list-style: none;
	padding-block: 27px clamp(27px, 50vw * var(--vw), 52px);
	position: relative;
}

.faq__name::after {
	position: absolute;
	right: 5px;
	content: '';
	border: solid;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	transition: all 0.3s ease 0s;
}

.faq__name:focus {
	outline: none;
}

.faq__name::-webkit-details-marker {
	display: none;
}

details[open].faq__question > .faq__name::after {
	transform: rotate(-135deg);
}

.faq__text {
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 5px;
}